<div class="container animated fadeIn fast">
    <div class="row">
      <div class="col botonera">
        <a [routerLink]="['/peliculas', 'POPULAR']" routerLinkActive="active" class="btn btn-outline-primary mr-2"><i class="fa fa-fire"></i> Populares</a>
        <a [routerLink]="['/peliculas', 'KIDS']" routerLinkActive="active" class="btn btn-outline-primary mr-2"><i class="fa fa-child"></i> Niños</a>
        <a [routerLink]="['/peliculas', 'IN-THEATERS']" routerLinkActive="active" class="btn btn-outline-primary mr-2"><i class="fa fa-star"></i> En Teatros</a>
      </div>
      <div class="col">
        <select name="best" id="best" [(ngModel)]="best" class="form-control" (change)="goToBest()">
          <option value="0">Mejores en</option>
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
    </div>
    <app-resultado *ngIf="!isLoading" [movies]="movies"></app-resultado>
    <app-spinner *ngIf="isLoading"></app-spinner>
  </div>